/solar-controlar/old/
/solar-controlar/venv/
/solar-controlar/.coverage
/.idea
/woodpecker-ci/woodpecker-server-data/woodpecker.sqlite
/solar-controlar/TODO.md
/solar-controlar/src/solarcontrolar.egg-info/
/font_generator/venv/
